<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Mining</title>
    <link rel="stylesheet" href="../Styles/Libraries/bootstrap.min.css" />
  </head>

  <body>
    <header class="text-md-center font-italic text-secondary display-4">
      <strong> <i class="fas fa-database"></i> Ciencia de los Datos 9SB</strong>
    </header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> <i class="fas fa-home"></i> Inicio</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../Analytics">Google Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../WebMining">Web Mining</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Mas sobre Web Mining
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="../WebMining/Content"
                >Web Content Mining</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../WebMining/WebStructure"
                >Web Structure Mining</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../WebMining/UsageMining"
                >Web Usage Mining</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../TextMining">Text Mining</a>
        </li>
      </ul>
    </nav>

    <article class="text-center media-body">
      <h1>Text Mining</h1>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <p>
            La minería de textos o "Text Mining" se refiere al proceso de
            derivar información nueva a partir textos existentes. La minería de
            textos busca extraer información útil e importante de formatos de
            documentos heterogéneos, tales como páginas web, correos
            electrónicos, medios sociales, artículos de revistas, etc. Esto se
            hace mediante la identificación de patrones dentro de los textos,
            tales como tendencias en el uso de palabras, estructura sintáctica,
            etc.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <br />
      <img
        height="350px"
        width="650px"
        src="../img/text-mining-featured.jpg"
        alt="imagen no disponible"
      />
      <br />
      <h2><i>Text-Mining y Data-Mining</i></h2>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <p>
            La combinación de Text-Mining con Data-Mining ofrece una mayor
            percepción únicamente a partir de datos estructurados o no
            estructurados. Este proceso generalmente incluye los siguientes
            pasos:
          </p>
          <ul class="text-justify">
            <li>
              <b>Identifica el texto que se extraerá</b> : Prepara el texto para
              el mining. Si el texto existe en varios archivos, guarde los
              archivos en una sola ubicación. Para las bases de datos, determine
              el campo que contiene el texto.
            </li>
            <li>
              <b>Extrae el texto y extrae datos estructurados</b>: Aplica los
              algoritmos de Text-Mining al texto fuente.
            </li>
            <li>
              <b>Construye modelos de conceptos y categorías</b>: Identifica los
              conceptos clave y / o crea categorías. El número de conceptos
              devueltos de los datos no estructurados suele ser muy grande.
              Identifique los mejores conceptos y categorías para calificar.
            </li>
            <li>
              <b>Analiza los datos estructurados</b>: Emplea técnicas
              tradicionales como clustering, clasificación y modelos
              predictivos, para descubrir las relaciones entre los conceptos.
              Combina los conceptos extraídos con otros datos estructurados para
              predecir el comportamiento futuro en función de los conceptos.
            </li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
      <br />
      <h3><i>Importancia de la mineria de Texto</i></h3>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <p>
            El tema de la minería de textos es de importancia para publicadores
            que tengan grandes bancos de data que requieran de indexación. Esto
            es el caso en particular para disciplinas científicas en las que hay
            una gran cantidad de información muy específica en forma de texto
            escrito. <br />
            Al ser la mineria de texto una variante de la mineria de datos, esta
            adopta técnicas de aprendizaje automático para el reconocimiento de
            patrones y la comprensión de la nueva información.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
    </article>
    <br />
    <br />
    <footer class="bg-dark text-center">
      <span class="text-light"
        >Alexander Peña Melikhov 2020 <i class="fas fa-globe"></i
      ></span>
    </footer>

    <script src="../Scripts/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/Libraries/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a94c98e5b5.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
