<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Mining</title>
    <link rel="stylesheet" href="../Styles/Libraries/bootstrap.min.css" />
  </head>

  <body>
    <header class="text-md-center font-italic text-secondary display-4">
      <strong> <i class="fas fa-database"></i> Ciencia de los Datos 9SB</strong>
    </header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> <i class="fas fa-home"></i> Inicio</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../Analytics">Google Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../WebMining">Web Mining</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Mas sobre Web Mining
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="../WebMining/Content"
                >Web Content Mining</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../WebMining/WebStructure"
                >Web Structure Mining</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../WebMining/UsageMining"
                >Web Usage Mining</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../TextMining">Text Mining</a>
        </li>
      </ul>
    </nav>

    <article class="text-center media-body">
      <h1>Web Mining</h1>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <p>
            Web Mining o minería de uso de la web es la metodologia que trata de
            extraer información y conocimiento útil de la actividad que se
            desarrolla en un sitio web, por ejemplo, el análisis de tráfico, los
            contenidos más populares o datos demográficos de las visitas, usando
            herramientas de minería de datos.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <img
        height="400px"
        width="600px"
        src="../img/WebMining.png"
        alt="imagen no disponible"
      />

      <h1>Ventajas de Web Mining</h1>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <p>
            Esta técnica de análisis de datos tiene muchas ventajas para las
            empresas y marcas, incluidas las instituciones gubernamentales, que
            la aplican para detectar amenazas y lucha contra el terrorismo. Por
            otro lado, las empresas mejoran su relación con el cliente. Conocer
            sus preferencias y las tendencias ayuda a comprender las necesidades
            del cliente. Además, integrar esta técnica con un CRM impulsará las
            estrategias de atención al cliente, marketing y postventa.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>

      <h4>Tipos de WebMining</h4>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="text-info font-italic" href="../WebMining/Content"
                >Web Content Mining</a
              >
            </li>
            <li class="list-group-item">
              <a class="text-info font-italic" href="../WebMining/WebStructure"
                >Web Structure Mining</a
              >
            </li>
            <li class="list-group-item">
              <a class="text-info font-italic" href="../WebMining/UsageMining"
                >Web Useage Mining</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
    </article>

    <br /><br />

    <footer class="bg-dark text-center">
      <span class="text-light"
        >Alexander Peña Melikhov 2020 <i class="fas fa-globe"></i
      ></span>
    </footer>

    <script src="../Scripts/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/Libraries/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a94c98e5b5.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
