<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Content Mining</title>
    <link rel="stylesheet" href="../Styles/Libraries/bootstrap.min.css" />
  </head>

  <body>
    <header class="text-md-center font-italic text-secondary display-4">
      <strong> <i class="fas fa-database"></i> Ciencia de los Datos 9SB</strong>
    </header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> <i class="fas fa-home"></i> Inicio</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../Analytics">Google Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../WebMining">Web Mining</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Mas sobre Web Mining
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="../WebMining/Content"
                >Web Content Mining</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../WebMining/WebStructure"
                >Web Structure Mining</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../WebMining/UsageMining"
                >Web Usage Mining</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../TextMining">Text Mining</a>
        </li>
      </ul>
    </nav>

    <article class="text-center">
      <h1>Web Content Mining</h1>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <p>
            <p>
              La Minería Web de Contenido es un proceso automático que va más allá de la
              extracción de palabras claves, ya que los datos se analizan para poder
              generar información de los documentos que se encuentran en la Web, ya sea,
              artículos, material audiovisual, documentos HTML, entre otros.
            </p>
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <img
        height="400px"
        width="500px"
        src="../img/web-content-mining.jpg"
        alt="imagen no disponible"
      />
      <br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded-lg text-light">
          <p>
            Las técnicas que se ocupan en esta rama de la Minería Web, varía dependiendo del contenido a tratar: técnicas de recuperación de información, 
            fundamentalmente técnicas estadísticas y lingüísticas, hipertexto, minería de marcado (la información de las marcas contiene información como por ejemplo HTML 
            (secciones, tablas, etc.), minería multimedia (para imágenes, audio, videos) y técnicas de Minería de texto algunas de las cuales se aplican a todo tipo de minerías.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <br><br>
    </article>

    <footer class="bg-dark text-center">
      <span class="text-light"
        >Alexander Peña Melikhov 2020 <i class="fas fa-globe"></i
      ></span>
    </footer>

    <script src="../Scripts/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/Libraries/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a94c98e5b5.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
